<div class="w-full flex flex-col items-start gap-4 mx-20">
  <h1 class="text-6xl font-black">Jamify</h1>

  <p>Login with spotify to start a new Jamify session!</p>

  <a href={~p"/auth/spotify"} class="bg-green-700 font-bold rounded-xl px-8 py-4 text-white">
    Login with spotify to continue
  </a>
</div>
