<main class="w-full flex flex-col items-center gap-8 px-8">
  <h1 class="text-4xl font-black text-center">
    Sorry, but the Jam you tried to join is no longer active.
  </h1>

  <img src={~p"/images/sad.jpg"} alt="Sad bruh detected" class="rounded-xl" />

  <p>
    Ask the host for a new link.
  </p>
</main>
