<.flash_group flash={@flash} />

<header class="bg-spotify py-8">
  <div class="flex flex-col md:flex-row items-center justify-between gap-10 md:gap-2 container mx-auto">
    <h1 class="text-5xl font-black font-fancy drop-shadow-md">
      Jamify
    </h1>
    <h2 class="text-white uppercase tracking-wide font-black">
      Beta
    </h2>
  </div>
</header>
<main class="flex flex-col items-start container mx-auto py-10">
  {@inner_content}
</main>
